@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    padding-right: 55%;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    color: #575757;
    text-decoration: none;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.banr {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
}

.slide.active img {
    opacity: 1;
}

.slide.active .left {
    transform: translateX(0);
    z-index: 1;
    transition: .5s ease;
}

.slide .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0s;
}

.left .blur {
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
}

.blur h1 {
    font-size: 250px;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
}

.slide:nth-child(1) .blur h1,
.slide:nth-child(4) .blur h1 {
    margin-right: -10px;
}

.left .content {
    position: absolute;
    bottom: 8%;
    left: 10%;
    color: #4dffd8;
}

.content h3 {
    font-size: 20px;
}

.content p {
    font-size: 16px;
    margin: 10px 0 15px;
}

.content .btn {
    display: inline-block;
    padding: 13px 28px;
    background: #fff;
    border: 2px ridge #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.content .btn:hover {
    background: transparent;
    color: white;
}

.slide.active .right {
    transform: translateX(0);
    z-index: 1;
    transition: .5s ease;
}

.slide .right {
    transition: 0s;
    transform: translateX(100%);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
}

.right h1 {
    font-size: 250px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.slide:nth-child(2) .right h1,
.slide:nth-child(4) .right h1 {
    margin-left: 10px;
}

.right h3 {
    position: absolute;
    transform: translateY(150%);
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    margin-left: 13px;
}

.navigation {
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: 99;
}

.navigation span {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 3px solid silver;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
    cursor: pointer;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.navigation span:nth-child(1) {
    background: transparent;
}

.navigation span:nth-child(1):hover {
    background: #fff;
}

.navigation span i {
    font-size: 45px;
    color: #444;
    transition: .5s;
}

.navigation span:nth-child(1) i {
    color: #fff;
}

.navigation span:nth-child(1):hover i {
    color: #444;
}

.navigation span:nth-child(2):hover {
    background: transparent;
}

.navigation span:nth-child(2) {
    background: #fff;
}

.navigation span:nth-child(2):hover i {
    color: #fff;
}

.navigation span:nth-child(2) i {
    color: #444;
}